extends layout.pug

block content
    include index-slideshow.pug
    include index-services.pug
    include index-work.pug
    include index-statement.pug
    include index-team.pug
    include index-post.pug
