include mixin.pug

section.services
    +basic_block('title 1', 'content ...', 'icon','phone')
    +basic_block('title 2', 'content ...', 'icon','safari')
    +basic_block('title 3', 'content ...', 'icon','computer')