include mixin.pug

section
    +basic_block('member 1', 'content ...', 'image', 'images/m1.png')
    +basic_block('member 2', 'content ...', 'image', 'images/m2.png')
    +basic_block('member 3', 'content ...', 'image', 'images/m2.png')