section.statement
    .main-statement
      h3 WHAT ARE YOUR SAY
      p  không có gì quý hơn độc lập tự do
      small HCM
    .foot-statement
       p like what you see?
       a(href="#") VIEW MORE