body
{
    margin: 0 auto;
    padding: 0 0;
}
header
{
    overflow: auto;
    width: 100%;
    height: 90px;
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}
#logo
{
    float: left;
    width: 30%;
    padding-left: 30px;  
}
#logo a
{
    text-decoration: none;
}
#head_nav
{
    float: right;
    list-style: none;
    margin-right: 150px;
    margin-top:13px;
}
#head_nav li
{
    display: inline;
    margin: 10px;
    font-size: 15px;
    padding: auto;
}
#head_nav li:hover
{
    background-color: beige;
}
#head_nav a
{
    color: #000;
    text-decoration: none;
}
#our_services
{   text-align: center;
    height: 400px;
    width: 80%;
    margin: 0 auto;
    background-color: #EEEEEE;
    padding: 10px 10px;
    
}
#our_services ul
{
    list-style: none;
}
.art_services
{
    width: 30%;
    float: left;
    background-color: #fff;
    margin: 10px;
    margin-top:1px;
    height: 250px;
}
#contact
{
    width: 80%;
    height: 400px;
    background-color: #EEEEEE;
    text-align: center;
    padding-top:30px;
    margin: 0 auto;
    overflow: auto;
}
#contact_form
{
   width: 40%;
   margin-left: 50px;

}
#contact_form input
{
    width: 100%;
    height: 25px;
    margin: 10px 0;
}
#contact_form textarea
{
    width: 100%;
    height: 100px;
    margin: 10px 0;
}
#contact_lable
{
    margin-left:20px;;
}